################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RegularExpressions/obj/Debug
/RegularExpressions/bin/Debug
/.vs/RegularExpressions.UnitTest/v16
/RegularExpressions.UnitTest/bin/Debug
/RegularExpressions.UnitTest/obj/Debug
